doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    link(rel='manifest', href='/manifest.json')
    link(rel='apple-touch-icon', href='/img/logo.png', sizes='1280x1280')

    if title
      title #{config.siteTitle} - #{title}
    else
      title #{config.siteTitle}
    if config.useCDN
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css')
      link(
        rel='stylesheet',
        href='https://use.fontawesome.com/releases/v5.5.0/css/all.css',
        crossorigin='anonymous'
      )
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css')
    else
      link(rel='stylesheet', href='/libraries/bulma.min.css')
      link(rel='stylesheet', href='/libraries/fontawesome/css/all.css')
      link(rel='stylesheet', href='/libraries/animate.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .print
      .content
        section.section(style='padding-bottom: 0;')
          .container.is-marginless.fullwidth
            block print
              style.
                .print { display: none !important; }
                .notprint { display: block !important; }
                @media print {
                  .notprint-padding { display: none; }
                  nav { display: none}
                }
    .notprint
      include includes/navbar.pug
      div.content.has-navbar-fixed-top#pageContent
        div.notprint-padding(style='margin-top: 1.5em;')
        section.section
          div.container.is-marginless.fullwidth
            block title
              if title
                h1= config.siteTitle + ' - ' + title
              else if title !== false
                h1 #{config.siteTitle}
            include includes/messages.pug
            block content