extends layout.pug

block content
  a(href='..') <i class="fas fa-arrow-left"></i> Back to #{req.params.user}'s wishlist
  form.inline(method='POST', action=`/wishlist/${req.params.user}/note/${req.params.id}`)
    .columns
      .column
        .field
          label.label Name
          .control
            input.input(name='name', value=item.name)
      .column
        .field
          label.label URL
          .control
            input.input(name='url', value=item.url)
    .field
      label.label Note
      .control
        textarea.textarea(
          name='note'
        )= item.note
    .field.inline
      .control.inline
        input.button.is-primary(type='submit' value='Save Item')